/* Staff Image Styling */

.moderator {
  border: 3px solid #11806a;
}

.administrator {
  border: 3px solid #2ecc71;
}

.supervisor {
  border: 3px solid #ad1457;
}

.manager {
  border: 3px solid #6c4bd8;
}

.ceo {
  border: 3px solid #3498d8;
}

/* Custom Staff Tags */

.tag.is-moderator {
  background-color: #11806a;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-administrator {
  background-color: #2ecc71;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-supervisor {
  background-color: #ad1457;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-manager {
  background-color: #6c4bd8;
  text-shadow: #222222 3px 3px 3px;
  color: #fff;
}

.tag.is-ceo {
  background-color: #3498d8;
  text-shadow: #021310 3px 3px 3px;
  color: #fff;
}